
.lista-notas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20;
  list-style-type: none;
  padding-left: 24px;
  padding-top: 24px;
}
.lista-notas_item {
  margin: 12px;

/* preventing fixed box */
  max-width: 240px;
  /* max-height: 400px; */

  display: inline;
}
