.card-nota {
  display: grid;
  grid-template-columns: 2fr;
  background-color: var(--fundo-detalhes);
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  padding: 16px;
  background: #fffcd9;

}
.card-nota_cabecalho {
  font-size: 1.1em;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fffcd9;

}

.card-nota_texto {
  margin-top: 8px;
  font-size: 1em;
  background: #fffcd9;
  word-break: break-word;
  text-align: center;
}

.card-nota_titulo {
  
  display: grid;
  font-size: 1.2em;
  margin-right: 12px;
  background: #fffcd9;

}

.card-nota_categoria {
  font-size: 1em;
  margin-right: 10px;
  background: #fffcd9;
  color: var(--secundaria);
  font-weight: 400;
}