.form-cadastro {
  flex-grow: 2;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  z-index: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 12px 40px;
  align-self:  flex-end;
  align-content: center;
  
}
.form-cadastro_input {
  margin-top: 30px;
  padding: 8px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  border-radius: 20px;
  border: none;
}

.form-cadastro_submit {
  border: none;
  background-color: var(--secundaria);
  color: var(--texto-geral);
  font-weight: 400;
  border-radius: 50px;
  align-self: center;
  height: 50px;
  padding: auto;

  padding: 0 32px;
}

.form-cadastro_submit:active {
  background-color: var(--secundaria-ativa);
}

.logo {
  display:flex;
  
  align-self: flex-end;
 
}

.background-logo {
  background: #242342;

}
